In [ ]:
# x=10
y=20
sum=x+y
multiply=x*y
print(sum)
print(multiplication)

In [2]:
print(x*y)

200

In [3]:
print(x%y)

10

In [4]:
x=2
res=x**5
print(res)

32

In [5]:
x=20
res=x/9
print(res)

2.2222222222222223

In [6]:
res=x//9
print(res)

2

In [7]:
x=1+2**3/4*5
print(x)

11.0

In [8]:
x=2+5**6/4*8
print(x)

31252.0

In [1]:
x=1
res=(x<10)
print(res)

True

In [2]:
x=10
y=20
res=(x=y)
print(res)

SyntaxError: invalid syntax (<ipython-input-2-e7f6fb6c327c>, line 3)

In [3]:
x=10
y=20
res =(x==y)
print(res)

False

# logical operators

### and
### or
### not

In [7]:
x=10
res=(x<15) and (x<58)
print(res)

True

In [8]:
x=12
res=(x>9) and (x<16)
print(res)

True

In [11]:
x=12
res=(x>9) or (x>16)
print(res)

True

In [13]:
x=True
res=not(x)
print(res)

False

## control flow statements
  if(condition);set of statemnts

In [3]:
x=10;
if(x<15):
   print("the number is less than 15");

the number is less than 15

In [4]:
x=10;
if(x>15):
    print("hello");

In [5]:
x=10;
if(x>15):
    print("hello good morning");
else:
    print("hello good afternoon");

hello good afternoon

In [6]:
x=10;
y=16;
if(x>y):
    print("x is greater");
else:
    print("y is greater");

y is greater

# example
### if both numbers are same then first number should be square of second if not same both must be multiplied

In [7]:
if(x==y):
    print(x*x)
else:
    print(x*y)

160

### read a number as input we are lokking for a number if it is zero or positive or negative

In [9]:
x=5
if(x==0):
    print("x is zero");
elif(x<0):
    print("x is negative");
else:
    print("x is positive");

x is positive

# 2.Looping statements


     while(condition):
     statements
     increment/decrement
## the loop will get executed aslong as the condition is return true and it terminates if it is false

In [10]:
n=1;
while(n<=10):
    print(n);
    n=n+1;

1
2
3
4
5
6
7
8
9
10

### print the numbers from 10 to 1

In [1]:
n=10;
while(n>=1):
    print(n);
    n=n-1;

10
9
8
7
6
5
4
3
2
1

### print numbers from -22 to -45

In [2]:
n=-22
while(n>=-45):
    print(n)
    n=n-1

-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45

## print sumof even numbers b/w 1 to 100

In [5]:
x=1
sum=0
while(x<100):
    if(x%2==0):
        sum =sum+x
    x=x+1
print(sum)

2450

### input:number
### output: extract the digits of number from right side
###    145 -- 541
###     981 -- 189

In [12]:
Number = 541 ;  
Reverse = 0    
while(Number > 0):    
    Reminder = Number %10    
    Reverse = (Reverse *10) + Reminder    
    Number = Number //10    
     
print(Reverse);

145

### input:
### output: you need to add sum of even numbers in given number
### test cases:
###     145  ---  4
###      1889 --- 16
###     1951 ----  0

In [14]:
x=int(input("Enter a number"));
sum=0
while(x!=0):
    r=x%10;
    if(r%2==0):
        sum=sum+r;
    x=x//10;
print(sum);

Enter a number1881
16

#### input: a number
#### output: respective name to digit
#### 145  ---  five four one
#### 1889 --- nine eight eight nine
#### 120 --- zero two one

## Functional programming:-
###  def functionname(<parameters>)

In [10]:
def printeven(n):
  cnt=0;
  sum=0;
while(cnt!=n):
    if(cnt%2==0):
        sum=sum+cnt;
    cnt=cnt+1;
    return sum;

print(printeven(20));

SyntaxError: 'return' outside function (<ipython-input-10-c5866d0fb9e4>, line 8)

# factors list of a given number
## testcases: 12  --  1 2 3 4 5 6

In [23]:
def factorlist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i = i + 1;
    return;

factorlist(12);

1 2 3 4 6

### list in python
### list can be written in python with square brackets and each itemin list is seperated by comma operator
###    [item1,item2,....,itemN]
### list can be anything :- int,char,float and  string

### examples of list
####  list1:-[1,2,3,4]
####  list2:-["a","b","c","d"]

In [27]:
list1=[1,2,3,4,5];
#entire list
print(list1);
#list[0]
print(list1[0]);

[1, 2, 3, 4, 5]
1

In [28]:
list2=["akash","aravind","ajay"];
for x in list2:
    print(x,end=" ");

akash aravind ajay

# for loop
## syntax:-
                   for<variablename>in <seq>:
                       <statements>

## list example with particular example

In [30]:
list1=[1,2,3,4,5,6,7]
for x in list1:
    print(x,end=" ")
    
print();    
print(list1[4]);  
print(list1[3:6]);

1 2 3 4 5 6 7
5
[4, 5, 6]

In [34]:
list1=[1,2,3,4,5,6,7,8,9,10];
for x in list1:
    print(x,end=" ");
    
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[3:-3]);
print(list1[::1]);
print(list1[-1]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

## list with range() function
## range(number):

## 0 to number

In [41]:
list1=["adarsh","akhil","ajay"];
print(list1);
list1[2]=15;
print(list1);
del list1[2];
list1.append(15);
list1[1]="gitam";
print(list1);
list2=[1,2,3];
print(list2);
print(list1+list2);
list1.append(150);
list1.append(3);
print(list1);

['adarsh', 'akhil', 'ajay']
['adarsh', 'akhil', 15]
['adarsh', 'gitam', 15]
[1, 2, 3]
['adarsh', 'gitam', 15, 1, 2, 3]
['adarsh', 'gitam', 15, 150, 3]

In [44]:
list1=['gitam','python','raptor',1,5,'python'];
print(list1)
list1.index("python")
list1.index(1)
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python']
['gitam', 'python', 2019, 'raptor', 1, 5, 'python']
7
['gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python']

## list methods
## remove(obj)
### the method removes the passed object fromthe first occurance from left direction

## reverse()
### the reverse() reverses the object of list

In [46]:
list1=['gitam','python','raptor',1,5,'python'];
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)

list1.reverse()
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python']
['gitam', 'raptor', 1, 5, 'python']
['gitam', 'raptor', 1, 5]
[5, 1, 'raptor', 'gitam']

#  Data structures 
## serching the data
####              linear search
####              binary search
## sorting the data
## store the data

# Linear search:-
##   15 12 16 9 2 22 6
###   ** linear search algo can be applied on unsorted list
###                                                                         sorted list
###  it can also be applied on unique list
###  *unique list :-all items in list appear only for once

def linearsearchduplicate(a,taritem):
    flag=0
    for i in range(len(a)):
        if a[i]==taritem:
            flag=flag+1
    

        print(flag)
    
        
a=[23,176,45,89]
linearsearchduplicate(a,23)

#### example:
###  input: list
###  indexes of target list
### test cases:
### [1,5,9,6,5,15,12,5] ,tar=5---------- 1 4 7

In [63]:
def linearexample1(a,taritem):
    for i in (range(len(a))):
        if a[i]== taritem:
            print(i,end=" ");
    
    
    

    
    
a=[1,5,9,6,5,15,12,5]
linearexample1(a,5)

1 4 7

###  input: list
### output: sequential character

## test cases:
[1,5,9,6,5,15,12,5]tar=5---- !! !!!!!! !!!!!!!!

In [65]:
def linearexample1(a,taritem):
    for i in (range(len(a))):
        if a[i]== taritem:
            print("!"*(i+1),end=" ");
            
            
            
            
            
            
            
a=[1,5,9,6,5,15,12,5]
linearexample1(a,5)

!! !!!!! !!!!!!!!

## input: list
## output: as per given


### test cases:-
[15,12,29,18,36]  ------
### a list item should be perfect multiple of 3 and 5
### sum of all list items should be perfefect multiple  of 3 and 5

In [67]:
def linearexample(a):
    sum=0
    for i in range(len(a)):
        if a[i]%3==0 and a[i]%5==0:
            sum=sum+a[i]
            
    return sum
a=[15,12,2,9,18,36,45]
print(linearexample(a))

60

###  linear search
### input:list
###  output: formatted output
 
###  test cases
##   1,2,3,4,5  --------  1 3 8 15 5

In [72]:
def linearformatedoutput(a):
        for i in range(len(a)):
            if (i==0 or i==len(a)-1):
                print(a[i],end=" ")
            else:
                print(a[i-1]*a[i+1],end=" ")
    
    
    
    
    
    
    
    
a=[1,2,3,4,5]
linearformatedoutput(a);

1 3 8 15 5

### input: list
### output: formatted output
### test cases:
#### [1,6,9,4,16,19,22] --- 1 9 19 22
## ** first and last items to be printed as list
## ** for middle items need to check both sides of number if it even then print that item then print otherwise skip the item

In [79]:
def linearformattedoutput(a):
    for i in range(len(a)):
        if(i==0 or i==len(a)-1):
            print(a[i],end=" ")
        elif(a[i-1]%2==0 and a[i+1]%2==0):
            print(a[i],end=" ")
            
a=[1,6,9,4,16,19,22]            
linearformattedoutput(a)

1 9 19 22

### input: number
### output :is a list


## test cases: 
## 14569----1,4,5,6,9
## 19743 ---- 1,9,7,4,3

In [81]:
def numtolist(n):
    list=[]
    while n!=0:
        r=n%10
        list.append(r)
        n=n//10
    list.reverse()
    print(list)
    
    
    
    
n=int(input("enter a number"))
numtolist(n)

enter a number13456
[1, 3, 4, 5, 6]

###  list to num conversion

### 1. 1,4,5,6,9  ----- 14569
###  2. 1,4,5,6,9 -----  46 (only even numbers considered)
### 3.  1,4,5,6,9 ----- 4,6 (only even digits to list)

In [87]:
def number(a):
    sum=0
    for i in range(len(a)):    
         sum=sum*10+a[i]
    print(sum)
a=[1,2,3,4]
number(a)

1234

In [88]:
def evennumber(a):
    sum=0
    for i in range(len(a)):
        if(a[i]%2==0):
            sum=sum*10+a[i]
    print(sum)
a=[1,2,3,4]
evennumber(a)

24

In [91]:
def f(a):
    b=0
    list1=[]
    while(a!=0):
        b=a%10
        if(b%2==0):
            list1.append(b)
        a=a//10
    list1.reverse()
    print(list1)
a=5647
f(a)

[6, 4]

In [92]:
def evennumber(a):
    sum=0
    for i in range(len(a)):
        if(a[i]%2==0):
            a[i]=a[i]**2
    print(a)
a=[1,2,3,4]
evennumber(a)

[1, 4, 3, 16]

In [94]:
def formatted(a):
    b=[]
    for i in range(len(a)):
        if(i==0 or i==len(a)-1):
            b.append(a[i-1]+a[i])
    print(b)
a=[1,2,3,4,5]
formatted(a)

[6, 9]